/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
	

}

body{
	font-family: 'Noto Sans', sans-serif;
}

img

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

