/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:white;
	--color-background:#181C20;
	

}

@font-face {
    font-family: "SohoGothicPro-Light";
    src: url("https://db.onlinewebfonts.com/t/287a99eeca9e0e12030e79954d92d6fd.eot");
    src: url("https://db.onlinewebfonts.com/t/287a99eeca9e0e12030e79954d92d6fd.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/287a99eeca9e0e12030e79954d92d6fd.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/287a99eeca9e0e12030e79954d92d6fd.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/287a99eeca9e0e12030e79954d92d6fd.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/287a99eeca9e0e12030e79954d92d6fd.svg#SohoGothicPro-Light")format("svg");
}

body{
	font-family: "SohoGothicPro-Light";
	color: var(--color-text);
	background-color: var(--color-background);
}

img{
	display: flex;
	width:15em ;
	height: auto;
	margin: 0;
	padding: 0;
}
h1, h2,h3, h4{
	font-weight: lighter;
}

section {
    width: 100%;
    box-sizing: border-box;
	font-weight:200;
	font-size: 0.8em;
	font-display: swap;
	font-style: normal;
	padding: 1em;
}

ul{
	list-style-type: none;
}

